<header class="header">
    <nav class="navbar">
        <div class="nav_left">
            <div class="menu_icon">
                &#9776;
            </div>
            <div class="logo">
                <img src="../../assets/logo.jpg" alt="logo" class="logo_image">
            </div>
        </div>
        <div class="nav_middle">
            158.75 MW Solar PowerPlant
        </div>
        <div class="nav_right">
            <ul>
                <li><img src="../../assets/indian_flag.svg" alt="indian flag" class="right_icon"></li>
                <li><img src="../../assets/spain_flag.svg" alt="spain flag" class="right_icon"></li>
                <li><mat-icon>crop</mat-icon></li>
                <li><mat-icon>print</mat-icon></li>
                <li><mat-icon>settings</mat-icon></li>
                <li><mat-icon>notifications</mat-icon></li>
                <li><mat-icon>person_pin</mat-icon></li>
            </ul>
        </div>
    </nav>
</header>
