<app-header></app-header>
<app-subheader></app-subheader>
<main class="content">
  <section class="section">
    <div class="title">Remote Monitoring</div>
      <app-linegraph></app-linegraph>
  </section>
  <section class="section">
    <div class="title">Inverter HeatMap</div>
      <app-heatmap></app-heatmap>
  </section>
  <section class="section">
    <div class="title">Events</div>
    <app-eventstable></app-eventstable>
  </section>
  <section class="section">
    <div class="title">Control Status</div>
    <app-controltable></app-controltable>
  </section>
</main>