<div class="subheader">
    <div class="section">day and time</div>
    <div class="divider">
       <div class="text">pci</div>
    </div>
    <div class="section">Active power</div>
    <div class="divider">
        <div class="text">pci</div>
     </div>
    <div class="section">parameters</div>
    <div class="divider">
        <div class="text">pci</div>
     </div>
    <div class="section">Avg</div>
    <div class="divider">
        <div class="text">pci</div>
     </div>
    <div class="section">CB-1</div>
    <div class="divider">
        <div class="text">pci</div>
     </div>
    <div class="section">Grid</div>
    <div class="divider">
        <div class="text">pci</div>
     </div>
    <div class="section">PPC</div>
</div>
